*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #222;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.container span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 5px #fff;
    background-color: #333;
    width: 150px;
    height: 50px;
    font-size: 30px;
    /* text-align: center; */
    border-radius: 60px;
    cursor: pointer;
    transition: 0.5s;
    filter: drop-shadow(0 0 5px var(--clr));
    text-transform: uppercase;
}

.container span:hover{
    color: #000;
    text-shadow: 0 0 5px #222;
    background-color: var(--clr);
}

.back a{
    text-decoration-line: none;
    color: white;
}